.button {
  display: block;
  width: 100%;
  padding: 10px 20px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #161c35;
  text-transform: uppercase;

  background-color: $color-yellow;
  border-radius: 25px;
}
